:root{
  --h1BgColor: #522e2c;
  --h1TextColor: #cbc18f;
  --h2TextColor: #1B1007;
  --h3TitleBgColor: #999999;
  --defaultTextColor: whitesmoke;
  --defaultBackGroundColor: black;
}
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    /*color: var(--defaultTextColor);*/
	  /*background-color: var(--defaultBackGroundColor);*/
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
